
<!-- <br><input type="number" [ngModel]="no" (ngModelChange)="cubeEvenNo($event)"><br> 
{{result}} -->
<!-- <div class="container"><br><input type="number" [ngModel]="no" (ngModelChange)="getFact($event)" placeholder="Enter any number"><br>
{{result|filter:snakeCase}}
</div> -->
<div class="container">
    <br>Toggle:<input type="button" [value]="valueForText" [style.background]="onColor"
    (click)="clickHandler($event)">
</div>
<!-- <p [style.font-size.px]="fontSize" [style.font-style]="fontStyle" [style.background-color]="backgroundColor" [style.color]="fontColor" style="  ">
    {{name}}<br></p>
    <input type="text" [(ngModel)]="name">


<br>Enter the font size:
<input type="number" [(ngModel)]="fontSize">

<br>Choose the font style
<select [(ngModel)]="fontStyle">
    <option value="normal">Normal</option>
    <option value="italic">Italics</option>
</select>

<br>Choose background Colour
<select [(ngModel)]="backgroundColor">
    <option value="red">Red</option>
    <option value="green">Green</option>
    <option value="yellow">Yellow</option>
    <option value="blue">Blue</option>
</select>

<br>Choose Font Color 
<select [(ngModel)]="fontColor">
    <option value="red">Red</option>
    <option value="green">Green</option>
    <option value="yellow">Yellow</option>
    <option value="blue">Blue</option>
</select> -->