        <!-- <section class="jumbotron">
        <h1>{{msg}}</h1>
        <h1>{{22/7 | number:'1.2-2'}}</h1>
        <h1>{{StudentName||"Yogita" | uppercase}}</h1>
    </section> -->
    <!-- <div>
        <aurionpro-student></aurionpro-student>
    </div> -->
    <!-- <aurionpro-blueball></aurionpro-blueball> -->
    <!-- <aurionpro-multibinding></aurionpro-multibinding> -->
    <btn-toggle [valueForText]="myText" (stateChange)="clickHandler($event)"></btn-toggle>
    <btn-rating [rating]='"2.5"'></btn-rating>