<h2>Edit Details</h2>
<form name="myForm" novalidate>
    <div class="form-group">
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="number" ng-model="id" class="form-control" id="id" placeholder="Enter id"
                name="salary">
        </div>
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" ng-model="name" required>
        <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
            <span ng-show="myForm.name.$error.required">Name is required</span></span>

    </div>
    <div class="form-group">
        <label for="salary">Salary:</label>
        <input type="number" ng-model="salary" class="form-control" id="salary" placeholder="Enter salary"
            name="salary">
    </div>
    <div class="form-group">
        <select id="designation" ng-model="designation">
            <option value="Developer">Developer</option>
            <option value="Analyst">Analyst</option>
            <option value="Manager">Manager</option>
        </select>
    </div>
    <div class="form-group">
        <label for="date" ng-model="dateOfJoining">Date of joining:</label>
        <input type="string" class="form-control" id="date" name="date">
    </div>

    <button type="button" ng-click="update()" class="btn btn-default"><a href="#!/">Update</button>
</form>